
<!DOCTYPE html>
<html lang = "en">
{% include('includes/header.twig') %}

<body>
{% include('includes/nav.twig') %}

<div class = "container" style="padding-top: 60px">
    {% block content %}
    {% endblock %}

</div><!-- /.container -->
</body>

</html>