
<!DOCTYPE html>
<html lang = "en">
{% include('includes/header.twig') %}

<body>
{% include('includes/nav.twig') %}

<div class = "container" style="padding-top: 60px">
    {% block content %}
    {% endblock %}

</div><!-- /.container -->
{% if(isMessageFlashSession()) %}
    <script>
        toastr.success('{{ session_get_flash('message') }}', 'Success');
    </script>
{% endif %}
{% if(isErrorFlashSession()) %}
    <script>
        toastr.error('{{ session_get_flash('error') }}', 'Error');
    </script>
{% endif %}
</body>

</html>