{% extends('layout.twig') %}
{% block content%}
    <form method="post" action="/book/update/{{ book.id }}">
        <div class="form-group">
            <label for="email">Title:</label>
            <input type="text" class="form-control" id="title" name="title" required value="{{ book.title }}">
        </div>
        <div class="form-group">
            <label for="pwd">Author:</label>
            <input type="text" class="form-control" id="author" name="author" required value="{{ book.author }}">
        </div>
        <div class="form-group">
            <label for="pwd">Price:</label>
            <input type="text" class="form-control" id="price" name="price" required value="{{ book.price }}">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}